body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cuadrado {
  width: 100px;
  height: 100px;
  border: 1px solid;
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.mediano {
  width: 50px;
  height: 50px;
}

.pequeno {
  width: 25px;
  height: 25px;
}

.gray {
  background-color: lightgray;
}